body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #fff;
    text-align: center;
}

nav {
    background-color: #fff;
    text-align: right;
    padding: 10px 0; /* Increase the padding to make the navigation bar taller */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
    color: brown; /* Set the text color to brown */
    font-weight: bold; /* Make the text bold */
    text-decoration: none; /* Remove underlines */
}

h2 {
    margin: 5px auto;
    text-align: center;
    margin-top: 2%;
}

h4 {
    margin: 10px 0;
    text-align: left;
}

.container {
    background-color: #F5D3D3;
    padding: 40px;
    margin: 90px;
    border-radius: 5px;
}


form {
    width: 100%; /* Set the desired width */
    margin: 0 auto; /* Center horizontally */
    flex-direction:row;
    align-items:center; /* Center vertically */
    /* background-color; */
}


label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.input-group {
    display:flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    border-radius: 10px;

}

.input-group input {
    width: 70%;

}

.input-group-label {
    text-align: left;
    margin: 10px;
    width: 30%;
    justify-items: center;
    border-radius: 5px;
}

input[type="CREATE"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor:pointer;
}

input, select, textarea {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}


.CREATE {
    text-align: start;
    display:flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    border-radius: 10px;

    
}

.CREATE button {
    background-color:#7B0303; /* Set the background color to your desired color (e.g., orange) */
    color: #FFF; /* Set the text color to white or any other color you prefer */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: start;
    margin-left: 11px;
}

