* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.tile1, .tile2, .tile3 {
    flex: 0 0 calc(30% - 5%);
    /* margin-right: 5%; Adjust for the gap */
}


.tile1 {
    text-align: center;
    /* width: 350px; */
    height: 370px;
    padding: 20px;
    background-color: #8473B5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.tile1:hover {
    background-color: #9D89C7;
}

.tile2 {
    text-align: center;
    /* width: 350px; */
    height: 370px;
    padding: 20px;
    background-color: #768F55;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tile2:hover {
    background-color: #8FA55A;
}
.tile3 {
    text-align: center;
    /* width: 350px; */
    height: 370px;
    padding: 20px;
    background-color: #997D99;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.tile3:hover {
    background-color: #A58FA5;
}

.tile3 img,
.tile1 img,
.tile2 img {    
    width: 80%;
    height: 73%;
}

.tile3 p,
.tile2 p,
.tile1 p{
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}





@media (max-width: 768px) {
    body {
        background-color: #f0f0f0;  /* Adjust body styles for smaller screens if necessary */
    }

    .container {
        flex-direction: column; /* Stack tiles vertically */
        align-items: center; /* Center-align tiles vertically on smaller screens */
    }

    .tile1,
    .tile2,
    .tile3 {
        width: 80%; /* Adjust the width of the tiles as needed */
        margin: 10px 0; /* Add some space between the stacked tiles */
    }

    .tile1 img,
    .tile2 img,
    .tile3 img {
        max-width: 80%; /* Make the images responsive to the container width */
        height: 73%;  /* Maintain aspect ratio */
    }

    .tile1 p,
    .tile2 p,
    .tile3 p {
        font-size: 16px; /* Adjust the font size for smaller screens */
    }
}

