@import url('https://fonts.googleapis.com/css?family=Barlow');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Barlow', sans-serif;
}
.articl{
    width: auto;
}

h2 {
    text-align: center;
    color:#000000;
    margin: 50px;
    font-size: 40px;
    
}

.image{
    display: block;
    text-align: center; 
    margin: auto;
    width: 50%;
}
.paragraph{
    align-items: flex-start;
    margin: 40px;
    font-size: 20px;

}

.button-group{
    margin-left: 75%;
    
}

button[type="button"] {
  /* background-color: #7B0303; */
  color: #000000; /* Optionally, you can change the text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
  margin-bottom: 50px;
  text-align: right;
}

button[type="button"]:hover {
    background-color: #888;
}
