@import url('https://fonts.googleapis.com/css?family=Barlow');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Barlow', sans-serif;
    list-style: none;
    text-decoration: none;
}

.category{
    max-width: 1000px;
    margin-top: 10px;
    color:#cea5a5;
  }

.box{
  background-color: #cea5a5;
}
  
  h1 {
    font-size: 50px;
  }
  
.articleColumn{
  display: flex;
  flex-direction: row;
  gap: 90px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

}

.content{
  background: #EFEFEF;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 400px;
  height: 500px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 3px 10px gray;
}

.image{
  border-radius: 12px;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
  margin-top: 20px;
}

h4{
  text-align: left;
  justify-content: left;
  color: #000000;
  position: relative;
  font-size: 30px;
}

.paragraph{
  text-align: left;
}
 
button[type="button"] {
  background-color: #7B0303;
  color: #FFFFFF; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 85%;
  margin-bottom: 50px;
  text-align: right;
  margin-top: 60px;
}

button[type="button"]:hover {
    background-color: #888;
}
