@import url('https://fonts.googleapis.com/css?family=Barlow');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.nav{
    background: #fff;
    display: flex;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}

.btn{
    height: 35px;
    background: #7B0303;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}


