* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-size: 20px; */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.container {
    display: flex;
    justify-content: space-between;
}

.container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.tile {
    width: 450px;
    /* width: 33%; */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0.05%;
    background-color: #D9D9D9;
    
}

img {
    width: 95%;
    height: 250px;
    /* object-fit: cover; */
    padding-left: 2%;
    padding-right: 2%;
    
}

.description {
    padding: 15px;
}

h2 {
    margin: 0;
    font-size: 20px;
    padding-bottom: 3.5%;
}

p {
    margin: 10px 0;
}

.viewButton {
    padding: 8px 8px;
    background-color: #7B0303;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.viewButton:hover {
    background-color: #FF5733;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column; /* Stack the tiles vertically */
    }

    .tile {
        max-width: none; /* Override the maximum width for individual tiles */
        width: 100%; /* Set the full width to ensure the tiles take the entire space */
    }

    img {
        width: 400px;
        height: 250px;
        /* object-fit: cover; */
        padding-left: 2%;
        padding-right: 2%;
        
    }
}