@import url('https://fonts.googleapis.com/css?family=Barlow');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.theater {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.screen {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.seats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.seat {
    width: 30px;
    height: 30px;
    background-color: #2bff00;
    border: 1px solid #999;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.unavailable {
    background-color: #ccc;
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: not-allowed;
}
