@import url('https://fonts.googleapis.com/css?family=Barlow');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.sidebar {
    position: relative;
    position: absolute;
    left: 0;
    width: 60px;
    height: 100%;
    background: #7B0303;
    overflow: hidden;
    position: 0.5s;
    z-index: 1; 
}

.sidebar:hover{
    width: 300px;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #7B0303;
    user-select: none;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

ul li:hover a {
    padding-left: 30px;
}

.sidebar ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 20px;
    color: #fff;
}

.sidebar ul li a .text {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
