@import url('https://fonts.googleapis.com/css?family=Barlow');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    background-image: url("./login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    opacity: 0.9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin: 0;
}

.box {
    border-radius: 12px;
    background: white;
    flex-direction: column;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 0 auto; /* Center the box */
}

.form-box {
    width: 400px;
    flex-shrink: 0;
    margin: 0px 10px;
}

.form-box header {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    text-align: center;
}

.field {
    margin-top: 25px;
}

.form-box form .field {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    display: flex;
    width: 150px;
    padding: 3px 10px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
    background: #7B0303;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s;
    /* padding: 10px 10px; */
    font-size: 26px;
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}



.field label{
    font-size: 20px;
}

.btn:hover {
    opacity: 0.8;
}

.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}

.links hr{
    margin-top: 8px;
    width: 100%;
    border: 1px solid;
}

.google-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.google-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}

.google-button:hover {
    background-color: #f1f1f1;
}