<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/sideBar.css">
    <script src="https://kit.fontawesome.com/8bff7d7f97.js" crossorigin="anonymous"></script>
   <!-- <link rel="stylesheet" href="/public/assets/js/sideBar.js"> -->
    <title>Side bar</title>
</head>
<body>
    <script src="/public/assets/js/sideBar.js"></script>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <!-- <span class="icon">xxx</span> -->
                        
                        <span class="title">Brand name</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <!-- <span class="icon">xxx</span> -->
                        <span class="icon">
                            <i class="fa-solid fa-house"></i>

                        </span>
                        
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="icon">
                            <i class="fa-solid fa-newspaper"></i>
                        </span>
                        
                        <span class="title">New Article</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="icon">
                            <i class="fa-regular fa-newspaper"></i>
                        </span>
                        
                        <span class="title">All Articles</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="icon">
                            <i class="fa-regular fa-hard-drive"></i>

                        </span>
                        
                        <span class="title">Drafts</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="icon">
                            <i class="fa-solid fa-gear"></i>
                        </span>

                        <span class="title">Settings</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle"></div>
                <div class=" search"></div>

            </div>
        </div>

    </div>
</body>
</html>