/* reservationist-request.css */
.image-container {
    text-align: left;
    margin-top: 20px;
}
img{
    width: 120%;
    margin-left: 5%;
    margin-top:30%;
}
.calendar {
    width: 50%;
   margin-bottom: 10%;
   margin-top: 0px;
}

.calendar-header {
    text-align: center;
    padding: 20px 0;
}

.calendar-header h1 {
    font-size: 30px;
    font-weight: bold;
}

.calendar-header p {
    font-size: 16px;
    color: #666;
}



.calendar-body table {
    width: 250%;
    border-collapse: collapse;
    margin-left: 5%;
}

.calendar-body table th,
.calendar-body table td {
    border: non;
    padding: 10px;
    text-align: center;
}

/* Style for the days of the week */
.calendar-body table td.day {
    font-weight: bold;
    width: 20px;
}

/* Style for the time slots */
.calendar-body table td.time {
    text-align: center;
    width: 30%;
}

/* Style for active cells (selected date and time) */
.calendar-body table td.active {
    background-color: brown;
}


.b1{
    background-color:brown;
    width: 50px;
    padding: 10px;
    margin-left: auto;
    color: aliceblue;
    font-weight: bold;
    border-radius: 15%;
    align-items: center;
    height: 60px;
    cursor: pointer;
    
}

.b1:hover {
    background-color:brown;
    transform: scale(1.1); /* Scale the button to 110% of its size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s, box-shadow 0.2s;
}

.b2{
    background-color:bro;
    width: 50px;
    padding: 10px;
    margin-left: auto;
    color:brown;
    font-weight: bold;
    border-radius: 30%;
    border-color: brown;
    align-items: center;
    height: 50px;
}

th{
    width: 6%;
    border-radius: 5%;
}

.button{
    margin-left: 20px;
    
}

table, td, th {
    padding: 1px;
    border: none;
    border-collapse: collapse;
    text-align: center;
    margin-right: 25%;
}



.image-container {
    display:flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 20px;
}
.form1 {
    justify-content: space-around;
    margin-right: 10%;
}

.form2 {
    padding: 1px;
    border-radius: 0.25%;  
    width: 60%; /* Adjust the width as needed */
    padding-bottom: 40%;
    height: 25px;
    margin-top: 8.6%;
    margin-right: 5%; 
}

.topic {
    font-family: Arial;
    font-size: x-large;
    margin-top: -3%;

}



.submit-button {
    background-color:brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    font-weight: bold;
    margin-left: 85%;
    margin-top: 50%;
}

.submit-button:hover {
    background-color:brown;
    transform: scale(1.1); /* Scale the button to 110% of its size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
}


button#showPopup {
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}